@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-dark text-white font-inter overflow-hidden;
  }
}

@layer utilities {
  .text-neon-blue {
    text-shadow: 0 0 5px #00f3ff, 0 0 10px #00f3ff;
  }
  .text-neon-red {
    text-shadow: 0 0 5px #ff073a, 0 0 10px #ff073a;
  }
  .glass-panel {
    @apply bg-bg-panel/80 backdrop-blur-md border border-white/10 rounded-xl;
  }
}
